{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    <p>Welcome to Footballmaster. Your source for Football games.</p>
    <h2>Games</h2>
    <table>
        <tr>
            <th>Date</th>
            <th>Hometeam</th>
            <th>Visitors</th>
            <th>Result</th>
        </tr>
        {% for game in games %}
            <tr>
                <td>{{ game.playDate }}</td>
                <td>{{ game.homeTeam.name }}</td>
                <td>{{ game.visitorTeam.name }}</td>
                <td>{{ game.score }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}